body {
  background-color: #000000;
  overflow: hidden;
  color: #ffffff
}

#drawing-toolbar {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 1;
}

#drawing-toolbar > * {
  margin-right: 20px;
}








